# frozen_string_literal: true

ActsAsAvatar.configure do |config|
  config.uifaces_random_avatar = true
  config.limit                 = 72
  config.gender                = nil
  config.uri                   = "https://api.uifaces.co"
  config.api_key               = ""
  config.default_file_name     = "default_avatar"
  config.upload_max_size       = 2.megabytes
end
